.familyElement {
    border-color: black;
    border-radius: 5px;
    border-style: solid;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
}